<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "Edit task", edit_task_path, class: "btn btn-success mb-3"  %> <br>

<%= link_to "Back to list", tasks_path %>
